$dark-gray: #7a7883;
$dusty-blue: #516b7c;
$error-red: #9c0c0c;
$gray: #bcbec0;
$laurel-green: #afae9a;
$leather-dark: #6d5a45;
$leather-light: #b7a082;
$leather: #9b8162;
$lumber: #ffe4c9;
$navy-blue: #10192b;
$olive: #52513f;
$red: #e14729;
$teal: #008486;
$tulle-white: #feeee7;
$white-chocolate: #ede9de;
$yellow: #ffc805;
$navy-blue-highlighted: #21293a;
$lumber-light: #fffbfa;
