.main-preview {
    display: flex;
    justify-content: center;
    position: relative;

    .device-type {
        display: flex;
        align-items: center;
        position: absolute;
        top: 15px;
        left: 15px;

        h2 {
            margin-right: 10px;
        }

        .input-text {
            height: 32px;
            align-items: center;
        }
    }
}