.view-box {
  cursor: pointer;
  border: 1px #AAA;
  border-style: dashed;
  position: relative;

  .vertical-line {
    position: absolute;
    border-right: 2px dashed #333;
    height: 100%;
    left: calc(50% - 2px);
  }

  .vertical-spliter {
    position: absolute;
    margin-bottom: -24px;
    bottom: 0px;
    left: calc(50% - 24px);
  }

  .horizontal-line {
    position: absolute;
    border-top: 2px dashed #333;
    width: 100%;
    top: calc(50% - 2px);
  }

  .horizontal-spliter {
    position: absolute;
    margin-right: -24px;
    right: 0px;
    top: calc(50% - 24px);
  }

  .delete-wrapper-button {
    position: absolute;
    right: 0;
    top: 0;
    height: 1rem;
    width: 1rem;
    padding: 10px;
  }

  .horizontal-view {
    height: 100%;
  }

  .vertical-view {
    display: flex;
    height: 100%;
  }

  &:hover {
    border-color: #999;
  }
}