.preview-screen {
    margin-top: 60px;

    .main-screen {
        width: 100%;
        height: 100%;
        box-shadow: 0px 2px 2px rgba(0, 0, 0, .02), 0px 0px 2px rgba(0, 0, 0, .5), 0px 1px 4px rgba(0, 0, 0, .08);
    }
}