.textalign-bar {
    display: flex;
    padding-top: 10px;
    justify-content: center;

    .icon-button { 
        border: 1px solid #AAA;
        background-color: white;
        margin: 0px 2px;
        border-radius: 0;

        &:hover {
            background-color: lightgray;
        }

        &:focus {
            outline: none; // Remove the focus outline
        }
    }

    .selected {
        background-color: darkgray;
    }

    .pi {
        color: gray;
    }
}